# Introduction

Since Jan. 1, 2015, [The Washington Post](https://www.washingtonpost.com/) has been compiling a database of every fatal shooting in the US by a police officer in the line of duty. 

<center><img src=https://i.imgur.com/sX3K62b.png></center>

While there are many challenges regarding data collection and reporting, The Washington Post has been tracking more than a dozen details about each killing. This includes the race, age and gender of the deceased, whether the person was armed, and whether the victim was experiencing a mental-health crisis. The Washington Post has gathered this supplemental information from law enforcement websites, local new reports, social media, and by monitoring independent databases such as "Killed by police" and "Fatal Encounters". The Post has also conducted additional reporting in many cases.

There are 4 additional datasets: US census data on poverty rate, high school graduation rate, median household income, and racial demographics. [Source of census data](https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml).

### Upgrade Plotly

Run the cell below if you are working with Google Colab

In [1]:
%pip install --upgrade plotly

Requirement already satisfied: plotly in c:\users\hboyz\appdata\local\programs\python\python39\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hboyz\appdata\local\programs\python\python39\lib\site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

## Import Statements

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

# This might be helpful:
from collections import Counter

## Notebook Presentation

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

## Load the Data

In [4]:
df_hh_income = pd.read_csv('Median_Household_Income_2015.csv', encoding="windows-1252")
df_pct_poverty = pd.read_csv('Pct_People_Below_Poverty_Level.csv', encoding="windows-1252")
df_pct_completed_hs = pd.read_csv('Pct_Over_25_Completed_High_School.csv', encoding="windows-1252")
df_share_race_city = pd.read_csv('Share_of_Race_By_City.csv', encoding="windows-1252")
df_fatalities = pd.read_csv('Deaths_by_Police_US.csv', encoding="windows-1252")

# Preliminary Data Exploration

* What is the shape of the DataFrames? 
* How many rows and columns do they have?
* What are the column names?
* Are there any NaN values or duplicates?

In [10]:
df_hh_income.shape
df_pct_poverty.shape
df_pct_completed_hs.shape
df_share_race_city.shape
df_fatalities.shape

(2535, 14)

In [16]:
df_hh_income.columns
df_pct_poverty.columns
df_pct_completed_hs.columns
df_share_race_city.columns
df_fatalities.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

In [33]:
df_hh_income.isnull().values.any()
df_pct_poverty.isnull().values.any()
df_pct_completed_hs.isnull().values.any()
df_share_race_city.isnull().values.any()
df_fatalities.isnull().values.any()

True

## Data Cleaning - Check for Missing Values and Duplicates

Consider how to deal with the NaN values. Perhaps substituting 0 is appropriate.

In [39]:
df_hh_income.fillna(0)
df_pct_poverty.fillna(0)
df_pct_completed_hs.fillna(0)
df_share_race_city.fillna(0)
df_fatalities.fillna(0)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.00,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.00,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.00,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.00,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.00,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.00,M,0,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,0.00,M,0,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.00,M,0,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.00,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.00,M,B,Brooklyn,NY,True,attack,Not fleeing,False

# Chart the Poverty Rate in each US State

Create a bar chart that ranks the poverty rate from highest to lowest by US state. Which state has the highest poverty rate? Which state has the lowest poverty rate?  Bar Plot

In [62]:
poverty_sorted = df_pct_poverty
poverty_sorted = poverty_sorted.sort_values(by=['poverty_rate'],ascending=False)
poverty_sorted.groupby('Geographic Area').agg('poverty_rate').sum()

Geographic Area
AK    92.99.89.69.69.69.59.59.49.29.29.19.19.19985.7...
AL    9.99.99.89.79.69.69.59.59.59.39.39.39.29.298.9...
AR    9.89.89.79.79.79.59.49.49.29.19.1998.98.88.78....
AZ    9.99.99.99.89.69.69.69.59.59.49.29.29.29.29.19...
CA    9.99.99.99.99.99.99.99.99.89.89.89.89.89.89.89...
CO    9.99.99.99.99.89.79.79.79.79.69.69.59.49.49.39...
CT    9.99.89.69.49.29.19.18.88.88.78.78.58.58.58.48...
DC                                                   18
DE    9.89.398.88.88.58.27.97.67.47.17.1776.56.265.4...
FL    98.69.99.99.99.99.89.89.79.79.79.79.79.69.69.6...
GA    9.89.89.89.69.69.59.49.49.39.39.39.29.29.29998...
HI    9.99.89.79.79.79.69.49.39.29.28.98.88.88.88.68...
IA    9.99.99.99.89.89.89.89.89.79.79.79.79.79.79.79...
ID    9.99.89.89.79.59.49.29.1858.98.78.58.38.38.173...
IL    9.99.99.99.99.99.99.99.99.99.89.89.89.89.89.89...
IN    9.99.89.89.79.69.69.59.59.49.49.39.39.29.19999...
KS    91.29.99.99.99.89.89.89.79.79.69.69.69.59.59.4...
KY    9.99.99.99.99.89.79.79.79.69.69.49.49.39.29.19...
LA    9.79.69.49.49.49.39.39.39.19.1998.88.68.68.68....
MA    9.89.59.59.49.49.39.29.29.29.1998.98.88.68.68....
MD    9.99.89.89.79.79.79.69.69.59.49.39.29.18.98.98...
ME    9.49.49.29.29.198.48.17.67.67.67.37.37.376.66....
MI    9.99.99.99.89.79.69.69.69.59.59.59.49.49.49.49...
MN    9.99.99.99.99.89.89.89.89.79.79.79.69.69.69.69...
MO    9.99.89.89.89.89.79.79.79.69.69.59.59.59.59.49...
MS    929.89.79.39.39.39.39.18.58.48.173.87.97.87.67...
MT    9.99.99.99.99.59.49.39.39.29.199981.58.98.78.6...
NC    9.99.99.99.99.89.89.79.69.69.69.59.59.59.49.49...
ND    9.89.89.89.69.69.69.59.59.59.49.49.39.39.39.29...
NE    92.39.99.99.99.89.89.79.79.79.79.69.59.59.59.5...
NH    9.89.79.59.39.18.98.88.48.48.2887.67.57.476.66...
NJ    9.99.99.99.99.89.89.89.89.79.69.69.69.69.59.59...
NM    92.79.99.99.89.79.69.69.59.59.39.28.88.48.38.3...
NV    9.99.89.89.59.39.18.78.48.38.38.28.18.17.162.4...
NY    9.99.99.99.89.89.89.89.89.89.89.89.89.89.79.79...
OH    90.99.99.99.99.89.89.89.79.79.79.79.79.69.69.6...
OK    93.89.99.89.89.79.79.79.59.59.59.59.49.49.49.3...
OR    9.99.99.89.69.49.49.29.19.1998.88.88.88.78.78....
PA    9.99.99.99.99.99.99.89.89.89.89.89.89.89.89.89...
RI    9.67.576.86.76.76.45.95.14.54.333.23.83.63.229...
SC    9.99.99.79.79.69.59.39.39.29.29.198.98.78.58.3...
SD    94.19.99.99.99.99.99.99.89.79.79.79.79.69.69.6...
TN    9.89.89.49.39.29.29.198.88.88.88.68.68.48.38.3...
TX    93.391.99.99.99.99.99.99.99.99.89.89.79.79.79....
UT    93.59.99.89.79.69.69.59.49.49.39.19.1998.88.88...
VA    9.99.99.99.99.89.79.79.79.69.69.59.49.49.49.39...
VT    9.99.48.68.58.38.18.17.97.87.67.57.2776.96.86....
WA    93.893.49.99.89.89.89.79.69.69.49.49.39.39.39....
WI    9.99.89.89.89.89.79.79.79.79.79.79.69.69.69.69...
WV    9.99.99.79.79.79.69.59.59.49.39.19.1983.68.98....
WY    9.49.39.2998.68.68.48.38.38.27.576.46.46.36.36...
Name: poverty_rate, dtype: object

# Chart the High School Graduation Rate by US State

Show the High School Graduation Rate in ascending order of US States. Which state has the lowest high school graduation rate? Which state has the highest?

# Visualise the Relationship between Poverty Rates and High School Graduation Rates

#### Create a line chart with two y-axes to show if the rations of poverty and high school graduation move together.

#### Now use a Seaborn .jointplot() with a Kernel Density Estimate (KDE) and/or scatter plot to visualise the same relationship

#### Seaborn's `.lmplot()` or `.regplot()` to show a linear regression between the poverty ratio and the high school graduation ratio.

# Create a Bar Chart with Subsections Showing the Racial Makeup of Each US State

Visualise the share of the white, black, hispanic, asian and native american population in each US State using a bar chart with sub sections.

# Create Donut Chart by of People Killed by Race

Hint: Use `.value_counts()`

# Create a Chart Comparing the Total Number of Deaths of Men and Women

Use `df_fatalities` to illustrate how many more men are killed compared to women.

# Create a Box Plot Showing the Age and Manner of Death

Break out the data by gender using `df_fatalities`. Is there a difference between men and women in the manner of death?

# Were People Armed? 

In what percentage of police killings were people armed? Create chart that show what kind of weapon (if any) the deceased was carrying. How many of the people killed by police were armed with guns versus unarmed?

# How Old Were the People Killed?

Work out what percentage of people killed were under 25 years old.

Create a histogram and KDE plot that shows the distribution of ages of the people killed by police.

Create a seperate KDE plot for each race. Is there a difference between the distributions?

# Race of People Killed

Create a chart that shows the total number of people killed by race.

# Mental Illness and Police Killings

What percentage of people killed by police have been diagnosed with a mental illness?

# In Which Cities Do the Most Police Killings Take Place?

Create a chart ranking the top 10 cities with the most police killings. Which cities are the most dangerous?

# Rate of Death by Race

Find the share of each race in the top 10 cities. Contrast this with the top 10 cities of police killings to work out the rate at which people are killed by race for each city.

# Create a Choropleth Map of Police Killings by US State

Which states are the most dangerous? Compare your map with your previous chart. Are these the same states with high degrees of poverty?

# Number of Police Killings Over Time

Analyse the Number of Police Killings over Time. Is there a trend in the data?

# Epilogue

Now that you have analysed the data yourself, read [The Washington Post's analysis here](https://www.washingtonpost.com/graphics/investigations/police-shootings-database/).